*{
  margin: 0;
  padding: 0;
}
.section-black{
  background-color: black;
}

section{
  
padding: 20px;
background-image: url('../images/welcome.jpg');
background-size: cover;
overflow: hidden;
}

.video{
  width: min(90rem, 100%); 
  margin: auto;
  padding: 0;
  border-radius: 2px;
  border: 2px solid #f9741a;
  position: relative;
    overflow: hidden;
    z-index: 1;
}

.prices{ 
  padding-top: 100px;
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  outline: none;
  justify-content: space-between;
  list-style-position: outside;
  position: relative;
  flex-direction:row;
}
.pouche{
  
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 20px;
  text-align: center;
  margin: 15px;
  background-image: linear-gradient(0deg,#f7f7f7,#fff);
  width: 309.328px;
  border-radius: 5px; 
  
}
.border-pouche{
  background: #fffbd8;
  border: 3px solid #ffc900;
}
.common-style{
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

h2{
  font-family: oswald, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}


h3{
  font-family: oswald, sans-serif;
  font-size: 27.2px;
  text-size-adjust: 100%;
  font-weight: 400;
  line-height: 32px;
  padding-top: 4px;
  text-align: center;
  text-decoration-style: solid;
  border-image-width: 1;
}

.big-value{
  margin: 0;
  padding: 0;
  font-family: oswald, sans-serif;
  text-decoration: none;
  border: none;
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  display: block;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px; 
}

.font-color{
  color: rgb(249,116,26);
  text-decoration-style: solid;
  
}
.flex-text{
  display: flex;
  margin-left: 20px;
  text-align: center;
}
.text-left{
  margin-bottom: 2px;
  margin-top: 45px;
  font-size: 30px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-align: left;
  word-spacing: 300px;
  tab-size: 4;
  overflow-wrap: break-word;
  margin-left: 8;
  list-style-position: outside;
}
.price-1{
  margin-bottom: 40px;
}

.text-plus{
  color: rgb(215,25, 32);
  opacity: 1;
  line-height: 32px;
  font-weight: 700;
  font-size: 24px;
  font-family: oswald, sans-serif;
  padding-bottom: 5px;
}

.javaburn-pack{
  
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 10px;
  margin: auto;
  display: block;
}
.javaburn-pack-6{
  width: 100%;
  display: block;
}

.coust{
  text-decoration-style: solid;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: oswald, sans-serif;
}

.line-through{
  text-decoration: line-through;
  font-weight: 300;
  outline-color: black;
  font-weight: normal; 
}

.bold-text{
  font-weight: bold;
}

.shipping{
 margin-bottom: 16px;
 line-height: 24px;
 font-family: oswald, sans-serif;
}
.button-container{
  text-align: center;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.button{
  margin: auto;
  padding: 15px;
}

a{

  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(0deg,#0095ff,#00d9ff);
  border: none;
  cursor: pointer;
  display: table;
  tab-size: 4;
  border-top-left-radius: 4px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 6px;
  border-image-repeat: stretch;
  line-height: 48px;
  font-size: 45px;
  font-weight: normal;
  margin-left: 0px;
}
.name-2{
  display: block;
  background-color: rgb(215, 25, 32);
  
  margin-top: 0.5rem;
  width: 113%;
  margin-left: -16px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

.ending-div{
 font-family: roboto-slab, serif;
 font-weight: 700;
 font-style: normal;
 font-size: 22px;
color: rgb(249,116,26);
text-align: center;
margin-top: 16px;
margin-bottom: 50px;
margin-block-start: 16px;
line-height: 33px;
font-weight: 600;
display: block;
}

.money-back{
  background-image: linear-gradient(0deg,#f47325,#f99f21);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 28px;
  width: 100%;
}

.block{
  
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  width: 100%;
  padding-left: 25rem;
  padding-right: 27rem;
  
  
}

.container-money-back{
  margin-right: 100px;
  margin-bottom: -1.25rem;
  margin-top: -1.25rem;
  display: flex;
  line-height: 24px;
  box-sizing: border-box;
  margin: auto;
}

.text-money-back{
  width: 100%;
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 24px;
  font-weight: 100;
  display: flex;
  text-align: left;
}
.text-left-money-back{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  display: flex;
}
.money-back-image{
  margin-bottom: -1.25rem;
  margin-top: -1.25rem;
  margin-left: 200px;
  margin: auto;
  display: flex;
  width: 30%;
  height: auto;
  vertical-align: middle;
}

.introducing{ 
  padding: 20px;
  height: 35rem;
  background-image: url('../images/special-introducing.png');
  background-size: cover;
  overflow: hidden;
  }

  .big-introducing{
    text-align: center;
  }